<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<br>
<p><%= link_to "Delete", restaurant_path(@restaurant),
  method: :delete,
  data: { confirm: "Are you sure?" } %></p>
  <p><%= link_to("Add a review", new_restaurant_review_path(@restaurant)) %></p>
  <br>
<br>
<p><%= link_to("Back to list", "/restaurants") %></p>
